.arena {
    display: flex;
    flex-direction: row;
}

.player-card {
  width: 220px;
  height: 120px;
  background: #9ec1cf;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.vs {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.2em;
}
