.player {
    background-color: lightblue;
    color: black;
    width: 23vh;
    height: 12vh;
    margin: 25px;
    margin-right: 100px; 
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.start-btn {
    background-color: green;
}